
*{
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}


body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

a:link
{
	color:  black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: purple;
}

/*nav here ------------------------------*/

.page-title {
	font-family: 'Lobster', cursive;
	font-size: 3em;
}
.nav-fix {
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 98;
	top: 0;
	left: 0;
}

.nav-item {
	padding: .8em;
}


#mobile-nav .nav-link{
	color: black;
}

#mobile-nav .nav-link:hover {
	color: purple;
}


.color-br {
	border: 1px solid red;
}

.nav-icon-main {
	font-size: 20px;
}

.nav-text-main {
	font-size: .7em;
	line-height: 15px;
}

	/*--------------me-icon-text-------------*/

#me-icon {
		position: relative;
}

#me-text {
	visibility: hidden;
	position: absolute;
}

#me-icon:hover #me-text {
	visibility: visible;
	color: purple;
}

#me-icon:hover {
	font-size: 22px;
	
}

.icon-socials {
	margin-top: 10px;
	height: 40px;
}

/*--------------skills-icon-text-------------*/

#skills-icon {
	position: relative;
}

#skills-text {
	visibility: hidden;
	position: absolute;
	left: 1px;
}

#skills-icon:hover #skills-text{
	visibility: visible;
	color: purple;
}

#skills-icon:hover {
	font-size: 22px;
}


/*--------------projects-icon-text-------------*/

#projects-icon {
	position: relative;
}

#projects-text {
	position: absolute;
	left: -5px;
	visibility: hidden;
	bottom: 10px;
}

#projects-icon:hover #projects-text{
	visibility: visible;
	color: purple;
}

#projects-icon:hover {
	font-size: 22px;
}


/*--------------me-icon-text-------------*/

#contact-icon {
	position: relative;
}

#contact-text {
	position: absolute;
	left: 2px;
	top: 60px;
	visibility: hidden;
}

#contact-icon:hover #contact-text{
	visibility: visible;
	color: purple;
}

#contact-icon:hover {
	font-size: 22px;
}

/*-----------------------------------------article--------------------------------- */
article {
	padding-top: 100px;
}


/*about me page her --------------------------------*/


#profile-photo {
	height: 60vh;
}

#first-name {
	font-family: 'Righteous', cursive;
	font-size: 4em;
	text-align: center;
	margin: 0;
	position: relative;
	top: 120px;
}

#last-name {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 100px;	
}

#card-me-page {
	border: none;
}

.page-icons-me {
	text-align: center;
	position: relative;
	top: 80px;
}

/*skills page here ----------------*/

#skills-page .left-article {
	background-image: url(../images/skills.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	height: 60vh;
}

#me-page left-article {
	height: 50vh;
}

#sub-titles-skills {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	text-align: center;
}

.icon-skills {
	height: 70px;
}

.icon-skills-others {
	margin: 3px;
	height: 55px;
	border: 1px dashed red;
}

.list-skills {
	text-align: left;
	margin-left: 30px;
}


.page-icons-skills {
	text-align: center;
}

.icon-skills:hover {
	background-color: #17a2b8;
}



/*projects page here--------------------------------------*/

.capstone-photos{

	width: 100%;
	margin: 0 auto;
	height: 60vh;
}

#projects-page .right-article
{
	height: 50vh;
}


.carousel-caption-projects {
	margin-bottom: 200px;
	text-shadow: 1px 1px 4px black;
	background-color: rgba(64,64,64,.4);
}


#sub-titles-projects {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 120px;
}

.page-icons-projects {
	text-align: center;
	position: relative;
	top: 110px;
}

.icon-projects {
	margin-top: 10px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration:none;
	position: relative;
}

#icon-text-cap1 {
	visibility: hidden;
	position: absolute;
	top: 60px;
	left: 150px;
}

#icon-text-cap2 {
	visibility: hidden;
	position: absolute;
	top: 60px;
	left: 220px;
}

#icon-text-cap3 {
	visibility: hidden;
	position: absolute;
	top: 60px;
	right: 150px;
}

.icon-projects-text {
	background-color: black;
	padding: 1px;
	color: white;
}

#icon-cap1:hover~#icon-text-cap1 {
	visibility: visible;
	text-decoration: none;
}

#icon-cap2:hover~#icon-text-cap2 {
	visibility: visible;
	text-decoration:none;
}

#icon-cap3:hover~#icon-text-cap3 {
	visibility: visible;
}

.capstone-box {
	min-height: 250px;
}

/*Contact page here .......................................*/

#contact-page .left-article {
	background-image: url(../images/contact.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	height: 400px;
}

#sub-titles-contact {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	text-align: center;
}

/*BACK TO TOP ICON .....................................*/

#backtotop-icon {
	font-size: 4em;
	text-align: right;
}


/*-------------------------------FOOTER-----------------------------------*/

#socials-icons {
	text-align: center;
}

footer {
	
	height: auto;
	background-image: url(../images/foot.jpg);
	background-position: cover;
	background-repeat: no-repeat;
	z-index: 100;
	width: 100%;
}

#icon-footer1:link,
#icon-footer1:visited, 
#icon-footer2:link, 
#icon-footer2:visited,
#icon-footer3:link, 
#icon-footer3:visited, 
#icon-footer4:link, 
#icon-footer4:visited,
#icon-footer5:link, 
#icon-footer5:visited  {
	color: white;
	font-size: 2em;
}

#icon-footer1:hover,
#icon-footer2:hover, 
#icon-footer3:hover, 
#icon-footer4:hover, 
#icon-footer5:hover{
	color: purple;
}

footer span {
	font-family: 'Roboto', sans-serif;
	color: white;
}

#footer-disclaimer {
	line-height: 1;
}

/*MOBILE SCREEN*/

@media only screen and (max-width: 400px)
{

	#lg-md-nav {
		display: none;
	}

	#profile-photo {
		width: 100%;
		height: 30vh;
	}

	#first-name {
		font-size: 3em;
		text-align: center;
		margin: 0;
		position: relative;
		top: 50px;
	}

	#last-name {
		font-family: 'Righteous', cursive;
		font-size: 2em;
		text-align: center;
		position: relative;
		top: 25px;	
	}

	.page-icons-me {
		text-align: center;
		position: relative;
		margin-bottom: 0;
		top: -.1em;
	}

	#card-me-page .card-body {
		padding-top: 0;
	}

	.icon-skills {
		height: 60px;
		padding-left: 0;
		padding-right: 0;
	}

	#skills-page .left-article {
		background-image: url(../images/skills.jpeg);
		background-attachment: fixed; 
		height: 400px;
	}

	#icon-text-cap1 {
		visibility: visible;
		position: absolute;
		top: 60px;
		left: 70px;
	}

	#icon-text-cap2 {
		visibility: visible;
		position: absolute;
		top: 60px;
		left: 145px;
	}

	#icon-text-cap3 {
		visibility: visible;
		position: absolute;
		top: 60px;
		right: 75px;
	}

	.icon-projects-text {
		font-size: 0.8em;
		background-color: white;
		padding: 1px;
		color: black;
	}

	#carousel-capstones {
		height: 35vh;
	}

	.capstone-photos {
		height: 35vh;
	}


	.capstone-box {
		margin-bottom: .5em;
	}

	#contact-page .left-article {
		background-image: url(../images/contact.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed; 
		height: 400px;
	}

	footer {
		height: auto;
	}

	#footer-disclaimer {
		display: none;
	}

}/*end of mobile view*/

/*TABLET VIEW */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#lg-md-nav {
		display: none;
	}

	#profile-photo {
		width: 100%;
		height: auto;
	}

	#first-name {
		position: relative;
		top: 10px;
	}

	#last-name {
		position: relative;
		top: -10px;	
		margin-bottom: 0;
	}

	#card-me-page {
		border: none;
	}

	#card-me-page .card-body {
		padding-top: 0;
	}

	.page-icons-me {
		position: relative;
		top: -.9em;
		margin-bottom: 0;
	}

} /*end tablet view*/


/*DESKTOP VIEW*/
@media only screen and (min-width: 961px)
{ 
	body{
		width: 80%;
	}

	#mobile-nav {
		display: none;
	}
} /*end of desktop view*/



